<!DOCTYPE html>
<html>
<head>
  <title>Book Recommender</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>
<body>
  <nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white font-bold text-xl">[My Book Recommender]</a>
      <ul class="flex space-x-4">
        <li><a href="/" class="text-gray-400 hover:text-white">Home</a></li>
        <li><a href="/recommend" class="text-gray-400 hover:text-white">Recommend</a></li>
        <li><a href="/contact" class="text-gray-400 hover:text-white">Contact</a></li>
      </ul>
    </div>
  </nav>

  <div class="container mx-auto my-8">
    <h1 class="text-4xl font-bold mb-4 text-white bg-gray-800 p-4">Recommend Books</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {% if data %}
      {% for item in data %}
      <div class="bg-white shadow-md rounded-lg">
        <img src="{{ item[2] }}" alt="{{ item[0] }}" class="w-full h-64 object-cover rounded-t-lg">
        <div class="p-4">
          <h2 class="text-xl font-bold mb-2">{{ item[0] }}</h2>
          <p class="text-gray-600 mb-4">by {{ item[1] }}</p>
          <a href="https://www.amazon.com/s?k={{ item[0]|replace(' ', '+') }}" target="_blank" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Buy on Amazon</a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $(".card").hover(
        function() {
          $(this).find(".bg-gray-800").addClass("bg-gray-700");
        },
        function() {
          $(this).find(".bg-gray-700").removeClass("bg-gray-700");
        }
      );
    });
  </script>
</body>
</html>